.button {
    width: 100px;
    height: 30px;
    background-color: #002140;
    color: wheat;
    border: none;
    margin-left: auto;
    margin-top: 15px;
}

.button:hover {
    cursor: pointer;
    opacity: .6;
}

.round {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-image: url("./png-clipart-businessperson-computer-icons-avatar-avatar-heroes-public-relations.png");
    background-size: cover;
    justify-self: flex-end;
}

.wrapper {
    display: flex;
    padding-bottom: 50px;
}

.userInfo {
    justify-content: space-between;
    display: flex;
    width: 600px;
    height: 115px;
    border: 1px solid gray;
    border-radius: 8px;
    margin-left: 15px;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttonShow {
    width: 150px;
    height: 50px;
    background-color: #002140;
    color: wheat;
    border: none;
    margin: 10px 300px;
}

.pagBtn {
    width: 30px;
    height: 20px;
    background-color: #002140;
    border: none;
    margin-right: 5px;
    margin-bottom: 25px;
    border-radius: 5px;
}

.pagBtnActive {
    font-weight: bold;
    background-color: #054805;
}

.pagBtn:hover {
    opacity: .6;
    cursor: pointer;
}