.nav {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: #0a880a;
    grid-area: nav;
}

.item {
    color: wheat;
    margin: 0 0 10px 10px;
    text-decoration: none;
    font-size: 24px;
}

.item:nth-of-type(4) {
    margin-bottom: 35px;
}

.active {
    color: orange;
}