.post {
    display: flex;
    gap: 20px;
    padding-top: 35px;
}

.round {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-image: url("./sPealEpjFy0.jpg");
    background-size: cover;
    justify-self: flex-end;
}

.postText {
    margin: 0;
}