.app-wrapper {
    display: grid;
    grid-template-areas:
    'header header'
    'nav content';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    gap: 10px;
    width: 1200px;
    margin: 0 auto;
}


.content {
    grid-area: content;
    background-color: gray;
}

.header img {
    width: 60px;
    background-color: green;
}

.contentImage {
    width: 100%;
    height: 200px;
}