.pagBtn {
    width: 30px;
    height: 20px;
    background-color: #002140;
    color: wheat;
    border: none;
    margin-right: 5px;
    margin-bottom: 25px;
}

.pagBtnActive {
    font-weight: bold;
    background-color: #1890ff;
}

.pagBtn:hover {
    opacity: .6;
    cursor: pointer;
}

.nextBtn {
    height: 20px;
    background-color: #002140;
    color: wheat;
    border: none;
    margin-right: 5px;
    margin-bottom: 25px;
}

.prevBtn {
    height: 20px;
    background-color: #002140;
    color: wheat;
    border: none;
    margin-right: 5px;
    margin-bottom: 25px;
}

.nextBtn:hover {
    cursor: pointer;
    opacity: .6;
}

.prevBtn:hover {
    cursor: pointer;
    opacity: .6;
}